.mdm-rendered-markdown {
  white-space: pre-wrap;
  overflow-wrap: break-word;

  em {
    font-style: italic;
  }
  strong {
    font-weight: 700;
  }
  code {
    padding: 0.2em;
    margin: -0.2em 0;
    border-radius: 3px;
    font-size: 85%;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
      "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
      "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    border: none;
    white-space: pre-wrap;
    line-height: 1.125rem;
    background: var(--backgroundTertiary);
  }
  a {
    color: var(--link);
    word-break: break-word;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  span[spoiler] {
    background-color: var(--backgroundTertiary);
    color: var(--backgroundTertiary);
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.1s ease;
    display: inline-block;
    user-select: none;

    &.revealed {
      background-color: rgba(255, 255, 255, 0.1);
      color: inherit;
    }
  }
}
