.mdm-rendered-markdown em {
  font-style: italic;
}
.mdm-rendered-markdown strong {
  font-weight: 700;
}
.mdm-rendered-markdown code {
  padding: 0.2em;
  margin: -0.2em 0;
  border-radius: 3px;
  font-size: 85%;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
    "Courier New", Courier, monospace;
  border: none;
  white-space: pre-wrap;
  line-height: 1.125rem;
  background: var(--backgroundTertiary);
}
.mdm-rendered-markdown a {
  color: var(--link);
  word-break: break-word;
  cursor: pointer;
  text-decoration: none;
}
.mdm-rendered-markdown a:hover {
  text-decoration: underline;
}
